<div class="wrapper-fluid wrapper-navbar" id="wrapper-navbar" itemscope="" itemtype="http://schema.org/WebSite">

	<a class="skip-link screen-reader-text sr-only" href="#content">Skip to content</a>

	<nav class="navbar navbar-expand-md fixed-top navbar-light bg-white">

		<a class="navbar-brand" rel="home" href="https://www.herrerainc.com/" title="Herrera" itemprop="url">
			<img src="https://www.herrerainc.com/wp-content/themes/herrerainc/img/herrerainc-logo.png" alt="">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div id="navbarNavDropdown" class="collapse navbar-collapse text-uppercase"><ul id="main-menu" class="navbar-nav"><li id="menu-item-2000" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-2000"><a title="Team" href="https://www.herrerainc.com/team/" class="nav-link">Team</a></li>
<li id="menu-item-4644" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-4644"><a title="Story" href="https://www.herrerainc.com/about/" class="nav-link">Story</a></li>
<li id="menu-item-3231" class="menu-item menu-item-type-custom menu-item-object-custom nav-item menu-item-3231"><a title="Projects" href="/projects" class="nav-link">Projects</a></li>
<li id="menu-item-5152" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-5152"><a title="Publications" href="https://www.herrerainc.com/publications/" class="nav-link">Publications</a></li>
<li id="menu-item-2004" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-2004"><a title="Services" href="https://www.herrerainc.com/services/" class="nav-link">Services</a></li>
<li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-309"><a title="Blog" href="https://www.herrerainc.com/blog/" class="nav-link">Blog</a></li>
<li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-306"><a title="Careers" href="https://www.herrerainc.com/careers/" class="nav-link">Careers</a></li>
<li id="menu-item-310" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-310"><a title="Contact" href="https://www.herrerainc.com/contact/" class="nav-link">Contact</a></li>
<li id="menu-item-4186" class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-4186"><a title="Search" href="https://www.herrerainc.com/search/" class="nav-link">Search</a></li>
</ul></div>
	</nav><!-- .site-navigation -->

</div>